@import 'base';
header{
    text-align: center;   
    margin-top: 50px; 
}
.simulador{
    margin-top: 40px;
    margin-left:450px;
    .info{
        display: flex;
        flex-direction: column;
        .campos{
            margin: 10px 10px;
            width: 290px;
            label{
               font-size: 20px; 
            }
            input{
                margin-top: 5px;
                width: 300px;
                padding: 10px;
                border-radius: 10px;
                &.error{
                    border: 1px solid red;
                }
                &.succes{
                    border: 1px solid green;
                }
            }
            .errorSpan{
                color: red;
                font-size: 12px;
            }
        }
        .simular{
            width: 300px;
            margin: 10px 10px;
            border: 1px solid grey;
            border-radius: 10px;
            padding: 10px;
            font-size: 20px;
        }
    }

}
.return{
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    width: 300px;
}
.secondPage{
    margin-top: 100px;
    margin-left: 270px;
    h2{
        font-size: 30px;
    }
  
    .hidden{
        display: none;
        &.show{
            display: block;
        }
    }
}